name: CI/CD for product-service

on:
  push:
    branches:
      - dev
      - staging
      - main

env:
  SERVICE_NAME: product-service
  IMAGE_BASE: asia-south1-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/${{ secrets.ARTIFACT_REPO }}

jobs:

  build:
    runs-on: ubuntu-latest

    outputs:
      image: ${{ steps.set-image.outputs.image }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker
        run: gcloud auth configure-docker asia-south1-docker.pkg.dev --quiet

      - name: Build & Push Docker Image
        run: |
          TAG=${{ github.sha }}
          IMAGE="$IMAGE_BASE/$SERVICE_NAME:$TAG"

          echo "Building image: $IMAGE"
          docker build -t "$IMAGE" .
          docker push "$IMAGE"

          echo "IMAGE=$IMAGE" >> $GITHUB_ENV

      - name: Export image for next job
        id: set-image
        run: echo "image=${IMAGE}" >> "$GITHUB_OUTPUT"


  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Get GKE Credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ secrets.GKE_CLUSTER }}
          location: ${{ secrets.GKE_REGION }}
          project_id: ${{ secrets.GCP_PROJECT }}

      - name: Determine namespace
        id: namespace
        run: |
          BRANCH="${GITHUB_REF##*/}"
          if [[ "$BRANCH" == "dev" ]]; then
            echo "ns=leninkart-dev" >> $GITHUB_OUTPUT
          elif [[ "$BRANCH" == "staging" ]]; then
            echo "ns=leninkart-staging" >> $GITHUB_OUTPUT
          else
            echo "ns=leninkart-prod" >> $GITHUB_OUTPUT
          fi

      - name: Prepare manifests
        run: |
          mkdir -p output
          cp k8s/deployment.yaml output/deployment.yaml
          cp k8s/service.yaml output/service.yaml

      - name: Inject image into manifest
        run: |
          IMAGE="${{ needs.build.outputs.image }}"
          echo "Using image: $IMAGE"

          sed -i "s|IMAGE_PLACEHOLDER|$IMAGE|g" output/deployment.yaml

          cat output/deployment.yaml

      - name: Apply manifests
        run: |
          kubectl apply -n ${{ steps.namespace.outputs.ns }} -f output/deployment.yaml
          kubectl apply -n ${{ steps.namespace.outputs.ns }} -f output/service.yaml
