name: CI/CD for product-service

on:
  push:
    branches:
      - dev
      - staging
      - main

env:
  SERVICE_NAME: product-service
  REGION: ${{ secrets.GKE_REGION }}
  PROJECT_ID: ${{ secrets.GCP_PROJECT }}
  ARTIFACT_REPO: ${{ secrets.ARTIFACT_REPO }}
  CLUSTER: ${{ secrets.GKE_CLUSTER }}
  IMAGE_BASE: asia-south1-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/${{ secrets.ARTIFACT_REPO }}

jobs:

  # ------------------- BUILD -------------------
  build:
    runs-on: ubuntu-latest

    outputs:
      image: ${{ steps.build-image.outputs.image }}

    steps:
      - uses: actions/checkout@v4

      - name: Auth GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - run: gcloud auth configure-docker asia-south1-docker.pkg.dev --quiet

      - name: Build Docker Image
        id: build-image
        run: |
          TAG=${{ github.sha }}
          IMAGE="$IMAGE_BASE/$SERVICE_NAME:$TAG"
          docker build -t $IMAGE .
          echo "image=$IMAGE" >> $GITHUB_OUTPUT

  # ------------------- PUSH -------------------
  push:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Auth GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - run: gcloud auth configure-docker asia-south1-docker.pkg.dev --quiet

      - name: Push Image
        run: docker push ${{ needs.build.outputs.image }}

  # ------------------- DEPLOY -------------------
  deploy:
    runs-on: ubuntu-latest
    needs: push

    steps:
      - uses: actions/checkout@v4

      - name: Auth GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Get GKE Credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ env.CLUSTER }}
          location: ${{ env.REGION }}
          project_id: ${{ env.PROJECT_ID }}

      - name: Determine Namespace
        id: env-namespace
        run: |
          BR="${GITHUB_REF##*/}"
          if [[ "$BR" == "dev" ]]; then
            echo "namespace=leninkart-dev" >> $GITHUB_OUTPUT
            echo "svcType=ClusterIP" >> $GITHUB_OUTPUT
          elif [[ "$BR" == "staging" ]]; then
            echo "namespace=leninkart-staging" >> $GITHUB_OUTPUT
            echo "svcType=LoadBalancer" >> $GITHUB_OUTPUT
          else
            echo "namespace=leninkart-prod" >> $GITHUB_OUTPUT
            echo "svcType=LoadBalancer" >> $GITHUB_OUTPUT
          fi

      - name: Prepare K8s Manifests
        run: |
          mkdir output
          cp k8s/deployment.yaml output/deployment.out.yaml
          cp k8s/service.yaml output/service.out.yaml

          sed -i "s|IMAGE_PLACEHOLDER|${{ needs.build.outputs.image }}|g" output/deployment.out.yaml
          sed -i "s|type:.*|type: ${{ steps.env-namespace.outputs.svcType }}|g" output/service.out.yaml

      - name: Apply K8s Files
        run: |
          kubectl apply -n ${{ steps.env-namespace.outputs.namespace }} -f output/deployment.out.yaml
          kubectl apply -n ${{ steps.env-namespace.outputs.namespace }} -f output/service.out.yaml

      - name: Rollout Status
        run: |
          kubectl rollout status -n ${{ steps.env-namespace.outputs.namespace }} deployment/${{ env.SERVICE_NAME }}
