name: CI/CD for Product-Service (via Helm + ArgoCD)

on:
  push:
    branches:
      - dev
      - staging
      - main

env:
  SERVICE_NAME: product-service
  REGION: asia-south1
  INFRA_REPO: leninkart-infra
  INFRA_BRANCH: main
  VALUES_FILE: helm/product-service/values.yaml

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.export.outputs.image_tag }}
      image_full: ${{ steps.export.outputs.image_full }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet

      - name: Build Docker image
        run: |
          IMAGE_TAG=${{ github.sha }}
          IMAGE_FULL="${{ env.REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/${{ secrets.ARTIFACT_REPO }}/${{ env.SERVICE_NAME }}:${IMAGE_TAG}"
          echo "IMAGE_FULL=$IMAGE_FULL" >> $GITHUB_ENV
          docker build -t "$IMAGE_FULL" .

      - name: Push image to Artifact Registry
        run: |
          docker push "$IMAGE_FULL"

      - name: Export Image Info
        id: export
        run: |
          echo "image_tag=${{ github.sha }}" >> $GITHUB_OUTPUT
          echo "image_full=$IMAGE_FULL" >> $GITHUB_OUTPUT

  update-helm-values:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Infra Repo
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/${{ env.INFRA_REPO }}
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: ${{ env.INFRA_BRANCH }}

      - name: Update Helm values.yaml with new image
        run: |
          sed -i "s|repository:.*|repository: ${{ env.REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT }}/${{ secrets.ARTIFACT_REPO }}/${{ env.SERVICE_NAME }}|g" ${{ env.VALUES_FILE }}
          sed -i "s|tag:.*|tag: ${{ needs.build.outputs.image_tag }}|g" ${{ env.VALUES_FILE }}

      - name: Commit changes
        run: |
          git config --global user.email "ci-bot@github.com"
          git config --global user.name "GitHub Actions CI"
          git add ${{ env.VALUES_FILE }}
          git commit -m "Update image for ${{ env.SERVICE_NAME }} -> ${{ needs.build.outputs.image_tag }}" || echo "No changes"
          git push origin "${{ env.INFRA_BRANCH }}"

